* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.stripe {
    width: 1600px;
    display: flex;
    height: 70px;
    padding-top: 35px;
    background-color: black;    
}

.leftBox {
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding-bottom: 15px;
    margin-left: 200px;
}

.rightBox {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 25px; 
    margin-left: 880px;
}

.header {
    width: 1600px;
    height: 764px;
    background: #F1E4E6;
    background-image: url(img/man.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.brand {
    margin-left: 865px;
    margin-top: 290px;
}

.container {
    width: 1600px;
    display: flex;  
    align-items: center;
    flex-direction: column; 
}

.content_1 {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card_1 {
    position: relative;
    margin-top: 30px;
}

.card_1_text_1 {
  position: absolute;
  top: 40%;
  color: white;
  padding-left: 145px;
}

.card_1_text_2 {
    position: absolute;
    top: 50%;
    padding-left: 130px;
    color: red;
}

.card_2 {
    position: relative;
    margin-top: 30px;
}

.card_2_text_1 {
    position: absolute;
    top: 40%;
    color: white;
    padding-left: 145px;
}
  
.card_2_text_2 {
    position: absolute;
    top: 50%;
    padding-left: 147px;
    color: red;
}

.card_3 {
    position: relative;
    margin-top: 30px;
}
.card_3_text_1 {
    position: absolute;
    top: 40%;
    color: white;
    padding-left: 125px;
}
  
.card_3_text_2 {
      position: absolute;
      top: 50%;
      padding-left: 147px;
      color: red;
}

.card_4 {
    position: relative;
    margin-top: 30px;   
}
.card_4_text_1 {
    position: absolute;
    top: 35%;
    color: white;
    padding-left: 490px;
}
  
.card_4_text_2 {
      position: absolute;
      top: 50%;
      padding-left: 520px;
      color: red;
}

.content_2 {
    width: 1140px;
    display: flex;
    align-items: center;
    flex-direction: column ;
    margin-top: 98px;
}

.fitured_items {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
}

.fitured_text {
    width: 336px;
    height: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.content_3 {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.photo_1 {
    width: 360px;
    height: 581px;
    margin-top: 48px;
    background: #F8F8F8
}

.link_1_box {
    margin-top: 25.35px;
    margin-left: 18px;
}

.link_1 {
    text-decoration: none;
    color: black; 
}

.link_text_box_1 {
    width: 314.74px;
    height: 51px;
    margin-top: 12.65px;
    font-style: normal;
    font-weight:300;
    font-size: 14px;
    line-height: 16,8px;
    color: #5D5D5D;     
}

.price_1 {
    color: #F16D7F;
    margin-top: 18px;
} 

.photo_2 {
    width: 360px;
    height: 581px;
    margin-top: 48px;
    background: #F8F8F8
}

.photo_3 {
    width: 360px;
    height: 581px;
    margin-top: 48px;
    background: #F8F8F8
}

.photo_4 {
    width: 360px;
    height: 581px;
    margin-top: 30px;
    background: #F8F8F8
}

.photo_5 {
    width: 360px;
    height: 581px;
    margin-top: 30px;
    background: #F8F8F8
}

.photo_6 {
    width: 360px;
    height: 581px;
    margin-top: 30px;
    background: #F8F8F8
}

.button {
    width: 211px;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    color: #FF6A6A;
    text-align: center;
    padding-top: 14.5px;
    padding-bottom: 13.5px;
    margin-top: 48.5px;
    font-size: 16px;
    line-height: 19.2px;
    margin-bottom: 95.5px;
}

.footer_top {
    width: 1600px;
    height: 341px;
    background-color: #222224;
    display: flex;
    align-items: center;
}

.car {
    width: 355px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 210px;   
}

.head_footer_top {
    color: white;
    text-decoration: none;
    margin-top: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 19.96px;
    line-height: 23.95px;
}

.text_footer_top {
    width: 300px;
    color: white;
    text-align: center;
    margin-top: 18px;
    font-weight: 300;
    font-style: normal;
    font-size: 13.97px;
    line-height: 16.77px;
}

.percent {
    width: 355px;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.crown {
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;margin-left: 30px;
}

.footer_middle {
    width: 1600px;
    height: 448px;
    background-image: url(img/footer_img.svg);
    display: flex;    
}

.left_box_footer_middle {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
    margin-top: 90px;
}

.girls_text {
    width: 400px;
    height: 200px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    padding-top: 35px;
    padding-left: 10px; 
    text-align: center;
}

.right_box_footer_middle {
    width: 500px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.subscribe_1 {
    width: 200px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 43.13px;
    text-align: center;
    margin-left: 200px;  
    margin-top: 150px; 
}

.subscribe_2 {
    width: 400px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30.1px;
    text-align: center;
    margin-left: 95px;  
}

.form {
    width:380px;
    height: 60px;
    margin-left:100px;
    margin-top: 32px;
    display: flex;
}
 
.button_subscribe {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    color: white;
    border-radius: 0 50px 50px 0;
    line-height: 50px;   
    text-align: center;
    border: none;   
}

.button_subscribe:hover {
    background-color: #f70b2b;
}

.input {
    width: 225px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 50px 0 0 50px;
    line-height: 50px;   
    padding-left: 40px;
    margin-left: 10px;  
}

.footer_bottom {
    width: 1600px;
    height: 79px;
    background-color: #222224;
    display: flex;
    align-items: center;
}

.copy  {
    color: white;
    padding-left: 235px;    
}

.social_nets {
    width: 175px;
    height: 70px;
    margin-left: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.square {
    width: 32px;
    height: 32px;
    background-color: white;display: flex;
    justify-content: center;
    align-items: center;    
}
